<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node-Intro</title>
</head>
<body>
  <h1>Node, Express, and MongoDB Quote Storage</h1>
  <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">
      <span><%= quotes[i].name %>:</span>
      <span><%= quotes[i].quote %></span>
    </li>
  <% } %>
</ul>

  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>

  <div>
    <br>
    <button id="update">Replace Jerome's last quote w Jeffrey quote</button>
    <button id="delete">Delete Jeffrey's Last Quote</button>
  </div>

  <div id="footer">
    <h6>Adapted from https://zellwk.com/blog/crud-express-mongodb/ </h6>

<script src="main.js"></script>
</body>
</html>
